.login-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  position: relative;
  z-index: 10;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 28rem;
  max-width: 28rem;
  text-align: center;
  color: white;
  margin:12px;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
}

.login-subtitle {
  color: rgb(209 213 219);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.login-input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  color: white;
}

.login-input::placeholder {
  color: #d1d5db;
}

.login-btn {
  width: 100%;
  background: rgba(37, 99, 235, 1);
  color: white;
  font-weight: 600;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background: rgba(29, 78, 216, 1);
}
