.viewer-root{
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;     
  align-items: center; 
  flex-direction: row;
}

.viewer-container {
  position: relative;
  width: 100vh;
  flex: 6;
  height: 80vh;
  border: 1px solid #ccc;
}

.viewer-divisor{
  flex: 1;
}

.viewer {
  width: 100%;
  height: 100%;
}

.viewer-button {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
}

.viewer-similarity-container {
 margin-top: 10px;
 width: 60vw;
 text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  }

  .viewer-similarity-root {
    display: flex;
    justify-content: center;
  }

button:hover{
  background: rgb(59, 76, 161);
}